.day {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(236, 167, 233) 0%,
    rgb(129, 239, 193) 54.2%,
    rgb(100, 215, 244) 100.3%
  );
  background-attachment: fixed;
}
.night {
  background: linear-gradient(
    171.8deg,
    rgb(5, 111, 146) 13.5%,
    rgb(6, 57, 84) 78.6%
  );
  background-attachment: fixed;
}

.night .Footer,
.night .Footer a {
  color: white;
}
